body {
    background-color: #f3f0e8;
    background: url(../bkground.jpg) no-repeat fixed;
    background-position: bottom;
    background-size: cover;
    margin: 0;
}

.page-wrapper {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
}

h1, h2 {
    color: white;
}

h1 {
    font-size: 4.5rem;
}

h2 {
    font-size: 3rem;
}

.card {
    background: #e0e0e0;
    color: #272725;
}

.no-info {
    text-align: center;
    color: black;
}

.generated-when {
    color: white;
    // position: absolute;
    // bottom: 12px;
}

.modified {
    float: right;
    font-size: .8em;
    color: grey;
    position: relative;
    top: 14px;
}

table {
    width: 100%;
    font-size: 1.5rem;

    thead {
        .bus {
            .departure-expected {
                padding-right: 20px;
                text-align: right;
            }
        }
        .tram {
            .departure-wait {
                padding-right: 20px;
                text-align: right;
            }
        }
    }

    tbody  {
        .departure-expected {
            padding-right: 20px;
            text-align: right;
        }

        .bus {
            td {
                padding: 15px 15px 10px 15px;
            }

            .departure-indicator {
                display: block;
                font-size: 1.6rem;
                margin-top: 5px;

                &.live-indicator {
                    color: green;
                }
            }

            .palm-stand, .palm-operator {
                display: none;
            }
        }

        .tram {
            td {
                padding: 15px 15px 15px 15px;
            }

            .departure-wait {
                text-align: right;
                padding-right: 20px;
            }

            .label {
                display: none;
            }
        }

        .rail {
            td {
                padding: 10px 15px 10px 15px;
            }

            .small-screen {
                display: none;
            }

            .departure-time {
                text-align: right;
                padding-right: 20px;

                .departure-status {
                    font-size: 1.6rem;
                    white-space: nowrap;

                    &.departure-delayed {
                        color: #d13d3d;
                    }
                }
            }
        }

        tr {
            border-top: 4px solid #e0e0e0;
            background-color: white;
        }

        p {
            color: #272725;
            font-size: 1em;
        }
    }
    
    

    .bus-deps-h3 {
        color: #272725;
        font-size: 1.2em;
        margin: 0;
    }
}



